@font-face {
    font-family: Cormorand Garamond;
    src: url(../fonts/cormorant-garamond-variable.woff);
}

@font-face {
    font-family: Ropa Sans;
    src: url(../fonts/ropa-sans.woff);
}

:root {
    --background: #000000;;
    --card: #0e0e0e;
    --text: #b1acac;
    --accent: #eeeeee;
    --selection: #424141;
    --hover-shadow: 0 0 50px #e3d1bb20;
}
::selection {
    background-color: var(--selection);
}

body {
    font-family: 'Ropa Sans', sans-serif;
    background-color: var(--background);
    margin: auto;
    padding: 1rem;
    max-width: 80ch;
    grid-template-rows: auto 1fr auto;
    display: grid;
    font-size: 18px;
    color: var(--text);
}

main {
    padding-bottom: 20px;
}

main h1 {
    font-family: 'Cormorand Garamond', sans-serif;
    text-align: center;
    font-size: 7rem;
    color: var(--accent);
    font-weight: 300;
}


main mark, main mark a {
    background-color: transparent;
    color: var(--accent)
}

main a {
    color: var(--text);
}

nav a:hover {
    color: var(--background);
    background-color: var(--text);
}

main a:hover {
    color: var(--accent);
    position: relative;
}

main img {
    max-width: 100%;
}

main .youtube-embed {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
}

main iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

main span {
    font-size: 85%;
    display: inline-block;
    padding: 2px 4px;
    border-radius: 3px;
    border: 1px solid var(--middle);
    font-family: inherit;
    background-color: var(--card);
}

main .gallery {
    columns: 15rem 2;
    gap: .5rem;
}

main .gallery img {
    width: 100%;
    margin-bottom: .3rem;
    transition: all 0.25s ease-in-out;
}

main .gallery img:hover {
    box-shadow: var(--hover-shadow);
}